OCI_USER_ID=ocid1.user.oc1..
OCI_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
OCI_FINGERPRINT=00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00
OCI_TENANCY_ID=ocid1.tenancy.oc1..
OCI_REGION=eu-frankfurt-1
OCI_SUBNET_ID=ocid1.subnet.oc1..
OCI_PUBLIC_SSH_KEY=ssh-ed25519 AAAA...

# Optional Always Free-safe defaults.
OCI_SHAPE=VM.Standard.A1.Flex
OCI_OCPUS=2
OCI_MEMORY_IN_GBS=12
OCI_BOOT_VOLUME_SIZE_IN_GBS=50
OCI_IMAGE_OS=Oracle Linux
OCI_DISPLAY_NAME=always-free-a1-node
OCI_SKIP_EXISTING_INSTANCE_CHECK=false
